button {
    height: 50px;
    font-size: 18px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 400px;
    row-gap: 1em;
}

.row {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 1em;
}

.row button {
    height: 100%;
    align-items: flex-end;
}

.column textarea {
    height: 10em;
}

#outgoingTextarea {
    box-sizing: border-box;
    height: 3em;
}

.grid {
    display: grid;
    column-gap: 1em;
    grid-template-columns: 1fr 1fr;
}

.center {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.readonly {
    color: rgb(164, 164, 164);
}

/************/
/* Template */
/************/

html {
    color-scheme: dark !important;
}

body {
    font-family: Helvetica;
    background-color: #181a1b;
    color: rgb(216, 212, 207);
}

button {
    color: white;
}

a,
a:visited {
    color: rgb(216, 212, 207);
}

a:hover {
    color: #b1aeab;
}

input,
textarea {
    color: rgb(216, 212, 207);
}
