.discord {
    background-image: url("https://ducksybucket.s3.amazonaws.com/discord.png");
    background-size: 22px;
    height: 22px;
    width: 22px;
    filter: invert(76%) sepia(47%) saturate(6602%) hue-rotate(122deg) brightness(108%) contrast(75%);
    vertical-align: middle;
}

.javascript {
    background-image: url("../public/images/javascript.png");
    background-size: 128px;
    height: 128px;
    width: 128px;
}

.react {
    background-image: url("../public/images/react.png");
    background-size: 128px;
    height: 128px;
    width: 128px;
}

.redux {
    background-image: url("../public/images/redux.png");
    background-size: 105px;
    height: 130px;
    width: 105px;
}

.python {
    background-image: url("../public/images/python.png");
    background-size: 120px;
    height: 135px;
    width: 120px;
}

.postgres {
    background-image: url("../public/images/postgres.png");
    background-size: 138px;
    height: 135px;
    width: 135px;
}

.skills-flex {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
