.discord {
    background-image: url("https://ducksybucket.s3.amazonaws.com/discord.png");
    background-size: 22px;
    height: 22px;
    width: 22px;
    filter: invert(76%) sepia(47%) saturate(6602%) hue-rotate(122deg) brightness(108%) contrast(75%);
    vertical-align: middle;
}

.skills-flex {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.javascript {
    background-image: url("../public/images/javascript.png");
    background-size: 128px;
    height: 128px;
    width: 128px;
}

.react {
    background-image: url("../public/images/react.png");
    background-size: 128px;
    height: 128px;
    width: 128px;
}

.redux {
    background-image: url("../public/images/redux.png");
    background-size: 105px;
    height: 130px;
    width: 105px;
}

.python {
    background-image: url("../public/images/python.png");
    background-size: 120px;
    height: 135px;
    width: 120px;
}

.postgres {
    background-image: url("../public/images/postgres.png");
    background-size: 138px;
    height: 138px;
    width: 135px;
}

.node {
    background-image: url("../public/images/node.png");
    background-size: 138px;
    height: 135px;
    width: 135px;
    filter: invert(70%) sepia(48%) saturate(691%) hue-rotate(41deg) brightness(97%) contrast(87%);
}

.aws {
    background-image: url("../public/images/aws.png");
    background-size: 256px;
    height: 128px;
    width: 256px;
}

.flask {
    background-image: url("../public/images/flask.png");
    background-size: 110px;
    height: 135px;
    width: 110px;
}

.express {
    background-image: url("../public/images/express.png");
    background-size: 128px;
    height: 128px;
    width: 128px;
}

.sequelize {
    background-image: url("../public/images/sequelize.png");
    background-size: 100px;
    height: 140px;
    width: 100px;
}

.sqlalchemy {
    background-image: url("../public/images/sqlalchemy.png");
    background-size: 256px;
    height: 128px;
    width: 256px;
}

.docker {
    background-image: url("../public/images/docker.png");
    background-size: 128px;
    height: 128px;
    width: 128px;
}

.linux {
    background-image: url("../public/images/linux.png");
    background-size: 108px;
    height: 138px;
    width: 110px;
}

.ubuntu {
    background-image: url("../public/images/ubuntu.png");
    background-size: 128px;
    height: 128px;
    width: 128px;
}

.gunicorn {
    background-image: url("../public/images/gunicorn.png");
    background-size: 128px;
    height: 110px;
    width: 128px;
    margin-top: 10px;
}

.your-stack {
    background-image: url("../public/images/your-stack.png");
    background-size: 128px;
    height: 128px;
    width: 128px;
}
